h1{
text-align: center;
padding: 15px;
}
ul li{
    list-style:none;
    display: inline-block;
    padding: 10px;
  }
  p{
    display:none;
  }
  p.ativo{
    display: block;
  }
 .configurar li{
   color: white;
   margin-top: 25px;
   margin-left: 20px;
   background: rgb(117, 117, 172);
   border-radius: 40%;
   height: 40px;
   width: 90px;
 }
 .mb-3{
   margin-top: 25px;
 }